@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

.landing {
    background-image: url('https://images.unsplash.com/photo-1501555088652-021faa106b9b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1506&q=80');
    opacity: 1;
    background-size: cover;
    height: 86vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.landing h2 {
    grid-column: 4/10;
    grid-row: 2;
    color: rgb(24, 39, 10);
    padding: 5px 5px;
    text-align: center;
    font-family: 'Crimson Text', serif;
}

.landing form {
    -webkit-appearance: none;
    grid-column: 4/10;
    grid-row: 4;
    padding: 20px;
    margin: 20px;
}