@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Monda&family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,500;1,500&family=Zilla+Slab:ital@1&display=swap');

.landing {
    background-image: url('https://images.unsplash.com/photo-1501555088652-021faa106b9b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1506&q=80');
    background-attachment:fixed;
    opacity: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: rgba(1, 20, 1, 0.795);
}

.facility {
    display: flex;
    flex-direction: column;
    grid-column: 1/12;
    min-width: 400px;
    padding: 40px 40px;
    display: inline-block;
}

.facilityTitle {
    font-size: x-large;
    background-color: rgba(8, 145, 61, 0.461);
    margin-bottom: 20px;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Zilla Slab', serif;
}

.facilityCard {
    display: inline-block;
    align-self: center;
    color: rgb(46, 46, 46);
    min-height: 40px;
    margin-bottom: 10px;
    border: rgba(250, 247, 247, 0.89);
    background-color: rgb(244, 244, 235);
    color: rgb(2, 24, 2);
    border-radius: 20px;
    padding: 40px;
    margin: 30px;
    font-family: Crimson;
    font-family: 'Alegreya Sans', sans-serif;
    align-self: center;
    font-size: 17px;
}
.subtitle {
    grid-column: 4/10;
    grid-row: 1.5;
    color: rgb(228, 245, 212);
    padding: 25px 25px;
    text-align: center;
    font-family: 'Rock Salt', cursive;
    font-size: 20px;
    max-height: 40px;
    min-width: 500px;
    max-width: 1000px;
    background-color: rgba(0, 0, 0, 0.493);
    border: rgba(35, 237, 210, 0.555) solid 10px;
    justify-self: center;
}


.footer {
    padding: 40px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    min-width: 100%;
    align-content: center;
    background-color: rgba(4, 54, 52, 0.432);
    color: rgb(200, 216, 226);
    font-family: 'Monda', sans-serif;
    font-size: 20px;
}

.landing form {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    -webkit-appearance: none;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    height: 40px;
}

input {
    display: inline-block;
    height: 30px;
    appearance: none;
    border: none;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    flex-grow: 1;
    font-size: 20px;
  }

  .text {
    appearance: textfield;
    box-sizing: content-box;
    flex-grow: 1;
    min-width: 300px;
    padding: 5px;
    margin: 5px;
    border-radius: 3px;
    background-color: rgba(233, 229, 203, 0.664);
  }

  .go {
    appearance: textfield;
    box-sizing: content-box;
    cursor: pointer;
    background-color: rgba(8, 145, 61, 0.461);
    padding: 5px;
    margin: 5px;
    border-radius: 3px;
  }
  .go:hover {
      background-color: rgba(2, 58, 23, 0.461)
  }

  .searchWrapper {
      display: flex;
      flex-wrap: wrap;
      margin: 30px;
      background-color: rgba(255, 245, 238, 0.589);
  }

  .regularText {
      font-family: Arial, sans-serif;
  }

